<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Collapsible Navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: black !important;
      padding-top: 70px;
    }

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: #ccc;
    }

    .navbar {
      background-color: #000 !important;
      z-index: 9999;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }


    .home{
      display: none;
    }
    .navbar-brand img {
      height: 40px;
    }

    @media (max-width:305px) {
      .logo {
        width: 100px;
      }
    }
    @media (max-width:991px) {
     .home{
      display: block;
     }
    }

    @media (max-width:200px) {
      .logo {
        width: 50px;
      }

      .closebtn {
        width: 30px;
      }

      .btnicon {
        width: 20px;
      }
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/zudio/logo.webp" alt="Zudio Logo" class="logo">
      </a>

      <button class="navbar-toggler closebtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon btnicon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav gap-4">
          <a class="nav-link text-white" href="/zudionerayou">Zudio Near YOU</a>
          <a class="nav-link text-white" href="/zworld">Z world</a>
          <a class="nav-link text-white" href="/zstories">Z Stories</a>
          <a class="nav-link text-white" href="/giftcard">Gift card</a>
          <a class="nav-link text-white home" href="/">Home</a>
        </div>
      </div>
    </div>
  </nav>

</body>

</html>