<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .side-bar{
        position: fixed;
        bottom: 100px;
        z-index: 2;
       left: 70px;
    }
    .buttons{
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bold;
    }
    @media (max-width:420px){
        .side-bar{
            left: 30px;
        }
        .buttons{
            font-size: medium;
        }
    }
</style>
<body>
    <div class="side-bar d-flex flex-column gap-4">
        <a href="/women" class="buttons">Women</a>
        <a href="/men" class="buttons">Men</a>
        <a href="/ethinic" class="buttons">Ethinic</a>
        <a href="/loungewear" class="buttons">LoungeWear</a>
        <a href="/footwear" class="buttons">Footwear</a>

    </div>
</body>
</html>